# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.war
pom.xml.gpg
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Local Maven Repository inside project
.m2/

# Compiled class files
*.class

# Log files
*.log

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata
.recommenders/
.vscode/

# OS-specific
.DS_Store
